//css @keyframes abstractor.
//
//Usage:
//	@include keyframes(<name>) {
//		<keyframes contents>
//	}
//
//Example:
//	@include keyframs(bgChanges) {
//		from { background-color: red; }
//		to   { background-color: green; }
//	}
//
//Output:
//	@-webkit-keyframes(bgChanges) {
//		from { background-color: red; }
//		to   { background-color: green; }
//	}
//	@-moz-keyframes(bgChanges) {
//		from { background-color: red; }
//		to   { background-color: green; }
//	}
//	@keyframes #{$name}(bgChanges) {
//		from { background-color: red; }
//		to   { background-color: green; }
//	}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}