div#1 {
  -webkit-animation: ssa-ufad8a79b 5s infinite;
  -moz-animation: ssa-ufad8a79b 5s infinite;
  animation: ssa-ufad8a79b 5s infinite; }

@-webkit-keyframes ssa-ufad8a79b {
  0% {
    background-color: red; }
  50% {
    background-color: green; }
  100% {
    background-color: red; } }

@-moz-keyframes ssa-ufad8a79b {
  0% {
    background-color: red; }
  50% {
    background-color: green; }
  100% {
    background-color: red; } }

@keyframes ssa-ufad8a79b {
  0% {
    background-color: red; }
  50% {
    background-color: green; }
  100% {
    background-color: red; } }

div#2 {
  -webkit-animation: ssa-ua58a313c 12s linear;
  -moz-animation: ssa-ua58a313c 12s linear;
  animation: ssa-ua58a313c 12s linear; }

@-webkit-keyframes ssa-ua58a313c {
  from {
    left: 0px; }
  to {
    left: 500px; } }

@-moz-keyframes ssa-ua58a313c {
  from {
    left: 0px; }
  to {
    left: 500px; } }

@keyframes ssa-ua58a313c {
  from {
    left: 0px; }
  to {
    left: 500px; } }
  div#2 div#3 span.inner {
    -webkit-animation: ssa-ufb30534d 8s;
    -moz-animation: ssa-ufb30534d 8s;
    animation: ssa-ufb30534d 8s; }

@-webkit-keyframes ssa-ufb30534d {
  from {
    color: yellow; }
  to {
    color: blue; } }

@-moz-keyframes ssa-ufb30534d {
  from {
    color: yellow; }
  to {
    color: blue; } }

@keyframes ssa-ufb30534d {
  from {
    color: yellow; }
  to {
    color: blue; } }
