@import "true";
@import "../sass/animate-once";
@include test-module('animate-once mixin') {
    @include test('output correct animation properties') {
        @include assert {
            @include output {
                @include animate-once(5s linear infinite, $animationName: test) {
                    from {
                        background-color: red;
                    }
                    to {
                        background-color: green;
                    }
                }
            }
            @include expect {
                -webkit-animation: test 5s linear infinite;
                -moz-animation: test 5s linear infinite;
                animation: test 5s linear infinite;
                @-webkit-keyframes test {
                    from {
                        background-color: red;
                    }
                    to {
                        background-color: green;
                    }
                }
                @-moz-keyframes test {
                    from {
                        background-color: red;
                    }
                    to {
                        background-color: green;
                    }
                }
                @keyframes test {
                    from {
                        background-color: red;
                    }
                    to {
                        background-color: green;
                    }
                }
            }
        }
    }
}
